@model IEnumerable<MedicalAppointmentScheduler.Core.Data.Appointment>
@{
ViewBag.Title = "Appointment List";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Medical Scheduler</h1>
    <p class="lead">Manage appoinments</p>
</div>
<div id="results" style="margin-top:50px;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayNameFor(model => model.BookedBy)
            </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorID)
            </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().L_Slots.SlotTime)
            </th>
        </tr>
        @if (Model.Count() == 0)
        {
        <tr>
            <td colspan="5" style="text-align:center;">
                No matching records found
            </td>
        </tr>
        }

        @foreach (var item in Model)
        {
        Console.WriteLine(item.ID);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedBy)
           </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorID)
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.DisplayFor(modelItem => item.L_Slots.SlotTime)
            </td>
        </tr>
    }
    </table>
</div>
