@using PagedList.Mvc;
@model PagedList.IPagedList<MedicalAppointmentScheduler.Core.Data.Appointment>

@{
    ViewBag.Title = "Your Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Appointments</h2>
<h1></h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BookedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BookedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DoctorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().L_Slots.SlotTime)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Details.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Details1.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_Slots.SlotTime)
            </td>
        </tr>
    }
</table>
<div id='Paging' style="text-align: center">
    @Html.PagedListPager(Model, page => Url.Action("ViewUpcomingAppointment", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
</div>